@import './../../common/reset.scss';

.ls-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__header,
    &__footer {
        flex-shrink: 0;
    }

    &__main {
        flex-grow: 1;
    }
}
