include ./../../common/mixins
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title=htmlWebpackPlugin.options.title
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    body.ls-app
        .ls-app__header
            +header-v2()
        .ls-app__main
            +post-v2()
        .ls-app__footer
            +footer-v2()