mixin faq(title)
    section.faq.mb-64.pt-88(id='faq')
        h2.faq__title.mb-48=title
        .faq__card
            .faq__card-item.faq__card-item_active
                h4.faq__card-item-title Первый вопрос
                .faq__card-item-description
                    p.faq__card-item-description-value 1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius amet culpa inventore molestias id. A facilis enim similique dolores odio quibusdam sunt voluptatibus accusamus numquam tenetur adipisci quae, amet aliquam? Deleniti, sunt.
            .faq__card-item
                h4.faq__card-item-title Второй вопрос
                .faq__card-item-description
                    p.faq__card-item-description-value 2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius amet culpa inventore molestias id. A facilis enim similique dolores odio quibusdam sunt voluptatibus accusamus numquam tenetur adipisci quae, amet aliquam? Deleniti, sunt.
            .faq__card-item
                h4.faq__card-item-title Третий вопрос
                .faq__card-item-description 
                    p.faq__card-item-description-value 3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius amet culpa inventore molestias id. A facilis enim similique dolores odio quibusdam sunt voluptatibus accusamus numquam tenetur adipisci quae, amet aliquam? Deleniti, sunt.
            
            
        