mixin header-v2()
    header.header
        .header__container
            a(href="/", class="header__logo") Lightning Soft
            a(target="_blank" href="https://t.me/zanko_av" class="header__telegram")
                img(id="header-telegram" width="24", height="24", src=require('@img/icons/telegram.svg'),alt='telegram', class='header__telegram-icon')


