@import './constants';
@import './reset';

body {
    background-color: $LS_GRAY_6;

    &.customize-support {
        header {
            top: 32px;
        }
    }
}

.lora-bold {
    font-family: 'Lora', serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.open-sans-light {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}
.open-sans-book {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.open-sans-medium {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.open-sans-demi {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.open-sans-bold {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.open-sans-black {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.single-post {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.ls-editor {
    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    ol,
    ul {
        padding-inline-start: 20px;
    }

    p {
        margin: 1rem 0;
    }
}

// MARGIN START

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mb-74 {
    margin-bottom: 74px;
}

.mt-32 {
    margin-top: 32px;
}

// MARGIN END

// PADDING START
.pt-88 {
    padding-top: 88px;
}

.pt-128 {
    padding-top: 128px;
}
// PADDING END

// DISPLAY
.d-b {
    display: block;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
