mixin welcome(title, description)
    section.welcome
        h1.welcome__title.mb-40=title
        p.welcome__description.mb-40=description
        .welcome__button.mb-74
            +button('Узнать стоимость')
        .welcome__image
            img.welcome__icon(src=require('@img/welcome/welcome.svg'), alt=title)