include ./../../common/mixins
doctype html
html
    head
        +meta()
    body
        .mb-64
            +header(1)
        .mb-64
            +welcome-mobile('Разработка одностраничного сайта', 'Мы предлагаем разработку одностраничного сайта любой сложности по низким ценам с гарантией технической поддержки в течении года')
            +products-mobile()
        +footer()