mixin post-v2()
    .post
        h1.post__title Title 
        small.post__date от 18.03.2025 
        img(class="post__image", src="https://www.placebear.com/800/400", alt="Title")
        .post__content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque enim ex, quaerat, sunt perferendis et sapiente natus laborum voluptatibus expedita tenetur consequatur facilis iste ea reiciendis magnam impedit? Dignissimos.