@import './../../common/constants-v2';

.post {
    @include container;
    padding-top: 32px;
    padding-bottom: 32px;

    @include lg {
        padding-top: 56px;
        padding-bottom: 56px;
        padding-left: 160px;
        padding-right: 160px;
    }

    &__title {
        @include font-h1;
    }

    &__date {
        @include font-date;
        color: $LS_GRAY_2;
    }

    &__image {
        width: 100%;
        object-fit: contain;
        border-radius: 12px;
        box-shadow: 0px 8px 16px $LS_GRAY_2;
        margin: 24px 0;
    }

    &__content {
        @include font-content;
        @include editor;
    }
}
