mixin faq-mobile(title)
    section.faq-mobile.mb-64.pt-88(id='faq')
        h2.faq-mobile__title.mb-32=title
        .faq-mobile__card
            .faq-mobile__card-item.faq-mobile__card-item_active
                h4.faq-mobile__card-item-title Первый вопрос
                .faq-mobile__card-item-description
                    p.faq-mobile__card-item-description-value 1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius amet culpa inventore molestias id. A facilis enim similique dolores odio quibusdam sunt voluptatibus accusamus numquam tenetur adipisci quae, amet aliquam? Deleniti, sunt.
            .faq-mobile__card-item
                h4.faq-mobile__card-item-title Второй вопрос
                .faq-mobile__card-item-description
                    p.faq-mobile__card-item-description-value 2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius amet culpa inventore molestias id. A facilis enim similique dolores odio quibusdam sunt voluptatibus accusamus numquam tenetur adipisci quae, amet aliquam? Deleniti, sunt.
            .faq-mobile__card-item
                h4.faq-mobile__card-item-title Третий вопрос
                .faq-mobile__card-item-description 
                    p.faq-mobile__card-item-description-value 3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius amet culpa inventore molestias id. A facilis enim similique dolores odio quibusdam sunt voluptatibus accusamus numquam tenetur adipisci quae, amet aliquam? Deleniti, sunt.
            
            
        